In [106]:
!git status

On branch master
Your branch is up to date with 'origin/master'.

Changes not staged for commit:
  (use "git add/rm <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)

	deleted:    accidents_corporels_de_la_circulation.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)

	.ipynb_checkpoints/
	Untitled1.ipynb

no changes added to commit (use "git add" and/or "git commit -a")

# Base de données accidents corporels de la circulation
https://www.data.gouv.fr/fr/datasets/base-de-donnees-accidents-corporels-de-la-circulation/

Ce jeu de données provient d'un service public certifié
 NEC MERGITUR
Pour chaque accident corporel (soit un accident survenu sur une voie ouverte à la circulation publique, impliquant au moins un véhicule et ayant fait au moins une victime ayant nécessité des soins), des saisies d’information décrivant l’accident sont effectuées par l’unité des forces de l’ordre (police, gendarmerie, etc.) qui est intervenue sur le lieu de l’accident. Ces saisies sont rassemblées dans une fiche intitulée bulletin d’analyse des accidents corporels. L’ensemble de ces fiches constitue le fichier national des accidents corporels de la circulation dit " Fichier BAAC " administré par l’Observatoire national interministériel de la sécurité routière "ONISR".

Les bases de données, extraites du fichier BAAC, répertorient l'intégralité des accidents corporels de la circulation intervenus durant une année précise en France métropolitaine ainsi que les départements d’Outre-mer (Guadeloupe, Guyane, Martinique, La Réunion et Mayotte depuis 2012) avec une description simplifiée. Cela comprend des informations de localisation de l’accident, telles que renseignées ainsi que des informations concernant les caractéristiques de l’accident et son lieu, les véhicules impliqués et leurs victimes.

Par rapport aux bases de données agrégées 2005-2010 et 2006-2011 actuellement disponibles sur le site www.data.gouv.fr, les bases de données de 2005 à 2016 sont désormais annuelles et composées de 4 fichiers (Caractéristiques – Lieux – Véhicules – Usagers ) au format csv.

Ces bases occultent néanmoins certaines données spécifiques relatives aux usagers et aux véhicules et à leur comportement dans la mesure où la divulgation de ces données porterait atteinte à la protection de la vie privée des personnes physiques aisément identifiables ou ferait apparaître le comportement de telles personnes alors que la divulgation de ce comportement pourrait leur porter préjudice (avis de la CADA – 2 janvier 2012).

In [2]:
%matplotlib inline

In [3]:
import pandas as pd

# Téléchargement de la documentation
https://www.data.gouv.fr/fr/datasets/r/36496bab-a042-47bf-b08b-3c7467f2bddf

# Téléchargements des données
https://www.data.gouv.fr/fr/datasets/r/be2191a6-a7cd-446f-a9fc-8d698688eb9e

https://www.data.gouv.fr/fr/datasets/r/e4c6f4fe-7c68-4a1d-9bb6-b0f1f5d45526

https://www.data.gouv.fr/fr/datasets/r/08b77510-39c4-4761-bf02-19457264790f

https://www.data.gouv.fr/fr/datasets/r/96aadc9f-0b55-4e9a-a70e-c627ed97e6f7

In [107]:
import pandas as pd

In [111]:
path = "https://www.data.gouv.fr/fr/datasets/r/96aadc9f-0b55-4e9a-a70e-c627ed97e6f7"
df = pd.read_csv(path, encoding="latin1")

In [112]:
df.head()

,Num_Acc,an,mois,jour,hrmn,lum,agg,int,atm,col,com,adr,gps,lat,long,dep
0,201600000001,16,2,1,1445,1,2,1,8,3.0,5,"46, rue Sonneville",M,0.0,0.0,590
1,201600000002,16,3,16,1800,1,2,6,1,6.0,5,1a rue du cimetiÃ¨re,M,0.0,0.0,590
2,201600000003,16,7,13,1900,1,1,1,1,6.0,11,NaN,M,0.0,0.0,590
3,201600000004,16,8,15,1930,2,2,1,7,3.0,477,52 rue victor hugo,M,0.0,0.0,590
4,201600000005,16,12,23,1100,1,2,3,1,3.0,11,rue Joliot curie,M,0.0,0.0,590

# 1) Modification des noms de colonnes

In [113]:
df.columns

Index(['Num_Acc', 'an', 'mois', 'jour', 'hrmn', 'lum', 'agg', 'int', 'atm',
       'col', 'com', 'adr', 'gps', 'lat', 'long', 'dep'],
      dtype='object')

## 1.1) méthode 1

In [ ]:
nouvelles_colonnes = ["Num_Acc", "an", "mois", "jour", "hrmn", 
                      "lumiere", "agglomeration", "intersection", 
                      "meteo", 'collision', 'num_commune', 'adr', 
                      'gps', 'lat', 'long', 'dep']

In [119]:
df.columns = nouvelles_colonnes

In [120]:
df.sample().T

                                  35455
Num_Acc                    201600035456
an                                   16
mois                                 12
jour                                 21
hrmn                               1620
lumiere                               1
agglomeration                         2
intersection                          1
meteo                                 1
collision                             3
num_commune                         137
adr            774, FAVIERES (CHEMIN DE
gps                                 NaN
lat                                 NaN
long                                NaN
dep                                 830

In [147]:
!git add 20180914_TD_Python.ipynb
!git commit -m "next"
!git push origin

[master 6522daa] next
 1 file changed, 89 insertions(+), 52 deletions(-)
Counting objects: 3, done.
Delta compression using up to 8 threads.
Compressing objects: 100% (3/3), done.
Writing objects: 100% (3/3), 1.06 KiB | 1.06 MiB/s, done.
Total 3 (delta 2), reused 0 (delta 0)
remote: Resolving deltas: 100% (2/2), completed with 2 local objects.
To https://github.com/romainjouin/formation_python
   507d0fc..6522daa  master -> master

## 1.1) méthode 2

In [125]:
colonnes_a_changer = {"lat" :"lattitude", "long" : "longitude"}
df.rename(columns=colonnes_a_changer, inplace=True)

# 2) analyse

In [133]:
# les num acc sont ils uniques ? 
df.Num_Acc.is_unique()

True

In [134]:
# nombre d'accidents par 
df.groupby("meteo")["Num_Acc"].count().sort_values()

meteo
6      144
4      159
9      300
5      621
7      667
3     1422
8     1640
2     6582
1    47897
Name: Num_Acc, dtype: int64

In [148]:
conditions_meteo = {
1 : "Normale",
2 : "Pluie légère",
3 : "Pluie forte",
4 : "Neige - grêle",
5 : "Brouillard - fumée",
6 : "Vent fort - tempête",
7 : "Temps éblouissant",
8 : "Temps couvert",
9 : "Autre",}

In [149]:
conditions_meteo

{1: 'Normale',
 2: 'Pluie légère',
 3: 'Pluie forte',
 4: 'Neige - grêle',
 5: 'Brouillard - fumée',
 6: 'Vent fort - tempête',
 7: 'Temps éblouissant',
 8: 'Temps couvert',
 9: 'Autre'}

In [150]:
df.meteo.map(conditions_meteo)

0             Temps couvert
1                   Normale
2                   Normale
3         Temps éblouissant
4                   Normale
5         Temps éblouissant
6         Temps éblouissant
7                   Normale
8                   Normale
9                     Autre
10            Temps couvert
11                  Normale
12                  Normale
13                  Normale
14        Temps éblouissant
15                  Normale
16            Temps couvert
17       Brouillard - fumée
18                  Normale
19             Pluie légère
20                  Normale
21                  Normale
22              Pluie forte
23             Pluie légère
24                    Autre
25        Temps éblouissant
26                  Normale
27                  Normale
28       Brouillard - fumée
29                  Normale
                ...
59402               Normale
59403               Normale
59404               Normale
59405               Normale
59406               Normale
59407               Normale
59408               Normale
59409               Normale
59410               Normale
59411               Normale
59412               Normale
59413               Normale
59414               Normale
59415               Normale
59416               Normale
59417               Normale
59418               Normale
59419               Normale
59420               Normale
59421               Normale
59422               Normale
59423               Normale
59424               Normale
59425               Normale
59426               Normale
59427               Normale
59428               Normale
59429               Normale
59430               Normale
59431               Normale
Name: meteo, dtype: object