# Analyse de données

On vous fournit une base déjà reformatée en tableau, qui est un extrait de DSN.
Voici la documentation de la DSN : http://www.dsn-info.fr/documentation/dsn_cahier_technique_p3.5.pdf

On vous demande de faire la data-prep et de prévoir l'absentéisme.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("subset_dsn.csv")

In [4]:
df.shape

(2617, 93)

# 1) regarder une ligne

In [25]:
colonnes = df.columns

In [27]:
colone_voulue = 8
nom_colonne = colonnes[colone_voulue]
print(nom_colonne)

('S21.G00.40.001', 'Date de début du contrat')

In [ ]:
une_ligne = df.sample()

In [28]:
# les dataframes sont composées d'objets de type "serie"
serie = une_ligne[nom_colonne]
# une série contient un tableau de valeur
print(serie.values)

['01102017']

In [16]:
type(nom_de_colonne)

str

In [195]:
!git add analyse_de_dsn_groupe_1.ipynb
!git commit -m "next"
!git push

[master 6900d7b] next
 1 file changed, 1688 insertions(+)
 create mode 100644 analyse_de_dsn_groupe_1.ipynb
Counting objects: 3, done.
Delta compression using up to 8 threads.
Compressing objects: 100% (3/3), done.
Writing objects: 100% (3/3), 6.78 KiB | 6.78 MiB/s, done.
Total 3 (delta 1), reused 0 (delta 0)
remote: Resolving deltas: 100% (1/1), completed with 1 local object.
To https://github.com/romainjouin/formation_python
   9f1f179..6900d7b  master -> master

# Lister une ligne

In [15]:
for numero_col, nom_de_colonne in enumerate(une_ligne):
    serie = une_ligne[nom_de_colonne]
    print(numero_col, nom_de_colonne, serie.values)

0 Unnamed: 0 [802]
1 Unnamed: 0.1 [802]
2 Unnamed: 0.1.1 [802]
3 ('S21.G00.30.005', 'Sexe') [1]
4 ('S21.G00.30.006', 'Date de naissance') [31081982]
5 ('S21.G00.30.020', 'Numéro technique temporaire') [nan]
6 ('S21.G00.30.023', 'Embauche') [1]
7 ('S21.G00.31.001', 'Date de la modification') [nan]
8 ('S21.G00.40.001', 'Date de début du contrat') ['27022017']
9 ('S21.G00.40.002', 'Statut du salarié (conventionnel)') ['06']
10 ('S21.G00.40.003', 'Code statut catégoriel Retraite Complémentaire obligatoire') ['04']
11 ('S21.G00.40.004', 'Code profession et catégorie socioprofessionnelle (PCS-ESE)') ['551A']
12 ('S21.G00.40.005', 'Code complément PCS-ESE') [nan]
13 ('S21.G00.40.006', "Libellé de l'emploi") ['MANUTENTIONNAIRE']
14 ('S21.G00.40.007', 'Nature du contrat') ['01']
15 ('S21.G00.40.008', 'Dispositif de politique publique et conventionnel') ['99']
16 ('S21.G00.40.009', 'Numéro du contrat') [8266833611804748366]
17 ('S21.G00.40.010', 'Date de fin prévisionnelle du contrat') [nan]
18 ('S21.G00.40.011', 'Unité de mesure de la quotité de travail') ['10']
19 ('S21.G00.40.012', "Quotité de travail de référence de l'entreprise pour la catégorie de salarié") ['162.50']
20 ('S21.G00.40.013', 'Quotité de travail du contrat') ['162.50']
21 ('S21.G00.40.014', "Modalité d'exercice du temps de travail") ['10']
22 ('S21.G00.40.016', 'Complément de base au régime obligatoire') ['99']
23 ('S21.G00.40.017', 'Code convention collective applicable') ['1760']
24 ('S21.G00.40.018', 'Code régime de base risque maladie') ['200']
25 ('S21.G00.40.019', 'Identifiant du lieu de travail') [4850340338228169722]
26 ('S21.G00.40.020', 'Code régime de base risque vieillesse') ['200']
27 ('S21.G00.40.021', 'Motif de recours') [nan]
28 ('S21.G00.40.024', "Travailleur à l'étranger au sens du code de la Sécurité Sociale") ['99']
29 ('S21.G00.40.026', "Statut d'emploi du salarié") ['99']
30 ('S21.G00.40.036', 'Code emplois multiples') ['01']
31 ('S21.G00.40.037', 'Code employeurs multiples') ['01']
32 ('S21.G00.40.039', 'Code régime de base risque accident du travail') ['200']
33 ('S21.G00.40.040', 'Code risque accident du travail') ['524XB']
34 ('S21.G00.40.041', 'Positionnement dans la convention collective') ['EMPLOYE/TECHNICIEN      COEFFICIENT 00155,00']
35 ('S21.G00.40.043', 'Taux de cotisation accident du travail') ['2.77']
36 ('S21.G00.40.044', 'Salarié à temps partiel cotisant à temps plein') [nan]
37 ('S21.G00.41.001', 'Date de la modification') [nan]
38 ('S21.G00.41.003', 'Ancien Code statut catégoriel Retraite Complémentaire obligatoire') [nan]
39 ('S21.G00.41.007', 'Ancienne Quotité de travail du contrat') [nan]
40 ('S21.G00.41.008', "Ancienne Modalité d'exercice du temps de travail") [nan]
41 ('S21.G00.41.012', "SIRET ancien établissement d'affectation") [0]
42 ('S21.G00.41.013', 'Ancien Identifiant du lieu de travail') [nan]
43 ('S21.G00.41.019', 'Ancien Code profession et catégorie socioprofessionnelle (PCS-ESE) ') [nan]
44 ('S21.G00.41.022', "Ancienne Quotité de travail de référence de l'entreprise pour la catégorie de salarié") [nan]
45 ('S21.G00.41.027', 'Ancien Salarié à temps partiel cotisant à temps plein') [nan]
46 ('S21.G00.50.001', 'Date de versement') ['30092018']
47 ('S21.G00.50.002', 'Rémunération nette fiscale') ['1339.20']
48 ('S21.G00.50.003', 'Numéro de versement') ['01']
49 ('S21.G00.50.004', 'Montant net versé') ['1226.97']
50 ('S21.G00.51.001', 'Date de début de période de paie') ["['01092018', '01092018', '01092018', '01092018', '01092018']"]
51 ('S21.G00.51.002', 'Date de fin de période de paie') ["['30092018', '30092018', '30092018', '30092018', '30092018']"]
52 ('S21.G00.51.010', 'Numéro du contrat') [8021507954474317089]
53 ('S21.G00.51.011', 'Type') ["['001', '002', '003', '010', '011']"]
54 ('S21.G00.51.012', "Nombre d'heures") ['11.83']
55 ('S21.G00.51.013', 'Montant') ["['1637.55', '1637.55', '1637.55', '1498.50', '118.12']"]
56 ('S21.G00.52.001', 'Type') [nan]
57 ('S21.G00.52.002', 'Montant') [nan]
58 ('S21.G00.52.003', 'Date de début de la période de rattachement') [nan]
59 ('S21.G00.52.004', 'Date de fin de la période de rattachement') [nan]
60 ('S21.G00.53.001', 'Type') ["['01', '01', '01', '01', '01']"]
61 ('S21.G00.53.002', 'Mesure') ["['163.50', '163.50', '163.50', '163.50', '163.50']"]
62 ('S21.G00.53.003', 'Unité de mesure') ["['10', '10', '10', '10', '10']"]
63 ('S21.G00.54.001', 'Type') ['17']
64 ('S21.G00.54.002', 'Montant') ['54.60']
65 ('S21.G00.54.003', 'Date de début de période de rattachement') ['01092018']
66 ('S21.G00.54.004', 'Date de fin de période de rattachement') ['30092018']
67 ('S21.G00.60.001', "Motif de l'arrêt") [nan]
68 ('S21.G00.60.002', 'Date du dernier jour travaillé') [nan]
69 ('S21.G00.60.003', 'Date de fin prévisionnelle') [nan]
70 ('S21.G00.60.010', 'Date de la reprise') [nan]
71 ('S21.G00.60.011', 'Motif de la reprise') [nan]
72 ('S21.G00.62.001', 'Date de fin du contrat') [nan]
73 ('S21.G00.62.002', 'Motif de la rupture du contrat') [nan]
74 ('S21.G00.62.006', 'Dernier jour travaillé et payé au salaire habituel') [nan]
75 ('S21.G00.65.001', 'Motif de suspension') [nan]
76 ('S21.G00.65.002', 'Date de début de la suspension') [nan]
77 ('S21.G00.65.003', 'Date de fin de la suspension') [nan]
78 ('S21.G00.70.004', 'Code option retenue par le salarié') ["['P00006497101', 'P00004844902']"]
79 ('S21.G00.70.005', 'Code population de rattachement') ["['001200', '060200']"]
80 ('S21.G00.70.007', "Nombre d'enfants à charge") ["['0', '0']"]
81 ('S21.G00.70.008', "Nombre d'adultes ayants-droit (conjoint, concubin, ...) ") ["['0', '0']"]
82 ('S21.G00.70.009', "Nombre d'ayants-droit") ["['0', '0']"]
83 ('S21.G00.70.010', "Nombre d'ayants-droit autres (ascendants, collatéraux...)") ["['0', '0']"]
84 ('S21.G00.70.011', "Nombre d'enfants ayants-droit") ["['0', '0']"]
85 ('S21.G00.70.012', 'Identifiant technique Affiliation') [3459048255974703064]
86 ('S21.G00.70.013', 'Identifiant technique Adhésion') [8151159325541050343]
87 ('S21.G00.70.014', nan) [nan]
88 ('S21.G00.86.001', 'Type') ["['01', '02']"]
89 ('S21.G00.86.002', 'Unité de mesure') ["['01', '01']"]
90 ('S21.G00.86.003', 'Valeur') ["['581', '735']"]
91 ('S21.G00.86.005', 'Numéro du contrat') [6586170110074774951]
92 Unnamed: 0.1.1.1 [802]

# Réduire la vue sur un sous ensemble de colonnes

In [41]:
block = 'S21.G00.51'
section = 'S21.G00.51.011'

# comprehension list
subset_cols = [x for x in une_ligne if block in x]
subset_cols

["('S21.G00.51.001', 'Date de début de période de paie')",
 "('S21.G00.51.002', 'Date de fin de période de paie')",
 "('S21.G00.51.010', 'Numéro du contrat')",
 "('S21.G00.51.011', 'Type')",
 '(\'S21.G00.51.012\', "Nombre d\'heures")',
 "('S21.G00.51.013', 'Montant')"]

# Transformer les strings en tableaux

In [73]:

listes = list(map(eval, subset_df[subset_df.columns[3]].values))

In [90]:
string = subset_df[colonne_voulue].values[0]
tableau  = eval(string)
tableau, "vs", string

(['001', '002', '003', '010'], 'vs', "['001', '002', '003', '010']")

In [91]:
type(tableau), type(string)

(list, str)

# Feature ingeneering : rajouter une colonne booléenne s'il y a des heures sup

In [76]:
colonne_voulue = subset_df.columns[3]
new_serie = subset_df[colonne_voulue].map(eval)

In [80]:
has_heure_sup_2 = new_serie.map(lambda x: '011' in x)

In [81]:
df["has_heure_sup_2"] = has_heure_sup_2

In [82]:
df[["has_heure_sup", "has_heure_sup_2"]]

      has_heure_sup  has_heure_sup_2
0             False            False
1              True             True
2              True             True
3              True             True
4              True             True
5              True             True
6             False            False
7              True             True
8              True             True
9             False            False
10            False            False
11             True             True
12             True             True
13             True             True
14             True             True
15             True             True
16            False            False
17             True             True
18             True             True
19             True             True
20             True             True
21             True             True
22             True             True
23             True             True
24            False            False
25             True             True
26             True             True
27             True             True
28             True             True
29             True             True
...             ...              ...
2587           True             True
2588           True             True
2589           True             True
2590           True             True
2591           True             True
2592           True             True
2593           True             True
2594           True             True
2595           True             True
2596           True             True
2597           True             True
2598           True             True
2599           True             True
2600           True             True
2601           True             True
2602          False            False
2603          False            False
2604           True             True
2605          False            False
2606           True             True
2607           True             True
2608          False            False
2609           True             True
2610           True             True
2611           True             True
2612           True             True
2613           True             True
2614           True             True
2615           True             True
2616           True             True

[2617 rows x 2 columns]

In [45]:
subset_df = df[subset_cols]

In [50]:
colonne_voulue = subset_df.columns[4]
serie_nb_d_heures = subset_df[colonne_voulue]

In [56]:
pd.DataFrame([serie_nb_d_heures, ~serie_nb_d_heures.isnull()]).T;

In [57]:
df["has_heure_sup"] = ~serie_nb_d_heures.isnull()

In [58]:
df.has_heure_sup

0       False
1        True
2        True
3        True
4        True
5        True
6       False
7        True
8        True
9       False
10      False
11       True
12       True
13       True
14       True
15       True
16      False
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24      False
25       True
26       True
27       True
28       True
29       True
        ...
2587     True
2588     True
2589     True
2590     True
2591     True
2592     True
2593     True
2594     True
2595     True
2596     True
2597     True
2598     True
2599     True
2600     True
2601     True
2602    False
2603    False
2604     True
2605    False
2606     True
2607     True
2608    False
2609     True
2610     True
2611     True
2612     True
2613     True
2614     True
2615     True
2616     True
Name: has_heure_sup, Length: 2617, dtype: bool

# Trouver les salaires de base

In [103]:

col_type = subset_df.columns[3]
col_montant = subset_df.columns[5]
deux_colonnes = [col_type,col_montant]
subset_df[deux_colonnes];

In [149]:
# le champ 010 indique le Salaire de base
df_de_listes = subset_df[col_type].map(eval)
index_de_010 = df_de_listes.map(lambda liste : liste.index("010"))

df["index_de_010"] = index_de_010

In [130]:
iterateur = zip(index_de_010.values, subset_df[col_montant].map(eval))
[x[1][x[0]] for x in iterateur][:3]

['1028.56', '1515.18', '1500.02']

In [129]:
iterateur = zip(index_de_010.values, subset_df[col_montant].map(eval))
[liste[index] for index,liste in iterateur][:3]

['1028.56', '1515.18', '1500.02']

In [131]:
iterateur = zip(index_de_010.values, subset_df[col_montant].map(eval))
df["salaire_de_base"] = [liste[index] for index,liste in iterateur]

In [128]:
df.salaire_de_base.head(3)

0    1028.56
1    1515.18
2    1500.02
Name: salaire_de_base, dtype: object

#### lister les attributs/ méthodes d'un objet
objet + "." + TAB
#### lister la documentation d'une fonction
objet.fonction+"(|)" => avec le curseur entre les parenthèses + MAJ+TAB
#### code complétion => TAB

In [152]:
# le champ 010 indique le Salaire de base
df_de_listes = subset_df[col_type].map(eval)
index_de_010 = df_de_listes.map(lambda liste : liste.index("010"))
df["index_de_010"] = index_de_010

In [153]:
_ = df[[col_montant, "index_de_010"]]#.itertuples()
_.head(2)

                       ('S21.G00.51.013', 'Montant')  index_de_010
0       ['1147.39', '1147.39', '1147.39', '1028.56']             3
1  ['1908.47', '1908.47', '1908.47', '1515.18', '...             3

# Pandas style

In [179]:
for local_tuple in _.head(2).iterrows():
    local_serie       = local_tuple[1]
    liste_de_montants = eval(local_serie[0])
    indice_de_010     = local_serie[1]
    salaire_de_base   = liste_de_montants[indice_de_010]
    print("salaire_de_base = ", salaire_de_base)

salaire_de_base =  1028.56
salaire_de_base =  1515.18

In [182]:
def get_salaire_de_base(row):
    local_serie       = row[1]
    liste_de_montants = eval(local_serie[0])
    indice_de_010     = local_serie[1]
    salaire_de_base   = liste_de_montants[indice_de_010]
    return salaire_de_base

In [193]:
df["salaire_de_base_3"] = list(map(get_salaire_de_base, _.iterrows()))

In [194]:
df[["salaire_de_base", "salaire_de_base_3"]]

     salaire_de_base salaire_de_base_3
0            1028.56           1028.56
1            1515.18           1515.18
2            1500.02           1500.02
3            1500.02           1500.02
4            1500.02           1500.02
5            1616.80           1616.80
6            1516.56           1516.56
7            1539.45           1539.45
8            1802.43           1802.43
9            2537.30           2537.30
10           3960.00           3960.00
11           1539.45           1539.45
12           1616.80           1616.80
13           1727.53           1727.53
14           1569.78           1569.78
15           1500.02           1500.02
16           1321.22           1321.22
17           1539.45           1539.45
18           1610.74           1610.74
19           1515.18           1515.18
20           1515.18           1515.18
21           1569.78           1569.78
22           1539.45           1539.45
23           1515.18           1515.18
24           4500.00           4500.00
25           1500.02           1500.02
26           1539.45           1539.45
27           1569.78           1569.78
28           1539.38           1539.38
29           1539.45           1539.45
...              ...               ...
2587         1569.78           1569.78
2588         1371.47           1371.47
2589         1597.78           1597.78
2590         1515.18           1515.18
2591         1569.78           1569.78
2592         2258.72           2258.72
2593         1500.02           1500.02
2594         1500.02           1500.02
2595         1500.02           1500.02
2596         1515.18           1515.18
2597         1500.02           1500.02
2598         1539.45           1539.45
2599         1500.02           1500.02
2600         1515.18           1515.18
2601         1500.02           1500.02
2602          615.00            615.00
2603          685.66            685.66
2604         1522.77           1522.77
2605         4500.00           4500.00
2606         1796.94           1796.94
2607         1539.45           1539.45
2608         1053.84           1053.84
2609         1616.80           1616.80
2610         1553.34           1553.34
2611         1683.42           1683.42
2612         1913.38           1913.38
2613         1735.46           1735.46
2614         1539.45           1539.45
2615         1616.80           1616.80
2616         1500.02           1500.02

[2617 rows x 2 columns]

In [181]:
for row in _.head(2).iterrows():
    print(salaire_de_base(row))

1028.56
1515.18

In [146]:
local_tuple[1].index # le nom des colonnes est devenu l'index de la série

Index(['('S21.G00.51.013', 'Montant')', '('S21.G00.51.011', 'Type')'], dtype='object')

In [148]:
for local_tuple in _.head(2).itertuples():
    print("-"*20)
    print(local_tuple)
    #print(type(local_tuple[1]))
    #print(local_tuple[1])

--------------------
Pandas(Index=0, _1="['1147.39', '1147.39', '1147.39', '1028.56']", _2="['001', '002', '003', '010']")
--------------------
Pandas(Index=1, _1="['1908.47', '1908.47', '1908.47', '1515.18', '108.19']", _2="['001', '002', '003', '010', '011']")