In [202]:
!git add analyse_de_dsn.ipynb
!git commit -m "first"
!git push

[master 440b7f0] first
 1 file changed, 19 insertions(+), 2 deletions(-)
Counting objects: 3, done.
Delta compression using up to 8 threads.
Compressing objects: 100% (3/3), done.
Writing objects: 100% (3/3), 670 bytes | 670.00 KiB/s, done.
Total 3 (delta 2), reused 0 (delta 0)
remote: Resolving deltas: 100% (2/2), completed with 2 local objects.
To https://github.com/romainjouin/formation_python
   ecc0208..440b7f0  master -> master

# Analyse de données

On vous fournit une base déjà reformatée en tableau, qui est un extrait de DSN.
Voici la documentation de la DSN : http://www.dsn-info.fr/documentation/dsn_cahier_technique_p3.5.pdf

On vous demande de faire la data-prep et de prévoir l'absentéisme.

In [203]:
import pandas as pd

In [197]:
df = pd.read_csv("subset_dsn.csv")

In [207]:
len(df.columns)

93

In [210]:
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,"('S21.G00.30.005', 'Sexe')","('S21.G00.30.006', 'Date de naissance')","('S21.G00.30.020', 'Numéro technique temporaire')","('S21.G00.30.023', 'Embauche')","('S21.G00.31.001', 'Date de la modification')","('S21.G00.40.001', 'Date de début du contrat')","('S21.G00.40.002', 'Statut du salarié (conventionnel)')",...,"('S21.G00.70.010', ""Nombre d'ayants-droit autres (ascendants, collatéraux...)"")","('S21.G00.70.011', ""Nombre d'enfants ayants-droit"")","('S21.G00.70.012', 'Identifiant technique Affiliation')","('S21.G00.70.013', 'Identifiant technique Adhésion')","('S21.G00.70.014', nan)","('S21.G00.86.001', 'Type')","('S21.G00.86.002', 'Unité de mesure')","('S21.G00.86.003', 'Valeur')","('S21.G00.86.005', 'Numéro du contrat')",Unnamed: 0.1.1.1
0,0,0,0,2,15091997,NaN,1,NaN,20122015,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,1016,818804314150338465,0
1,1,1,1,2,23021991,NaN,1,NaN,29042018,06,...,0,0,3426801196285240187,970579013592031102,NaN,01,01,956,5062950368187149217,1
2,2,2,2,2,17091974,NaN,1,NaN,01052018,06,...,0,0,3426801196285240187,970579013592031102,NaN,01,01,189,6538046486002635820,2
3,3,3,3,2,3051994,NaN,1,NaN,01062018,06,...,0,0,3426801196285240187,970579013592031102,NaN,01,01,164,6274365465970049139,3
4,4,4,4,1,19111986,NaN,1,NaN,01072018,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,01092018,01,01,207,2177083209391047952,4
5,5,5,5,2,5071964,NaN,1,NaN,01102014,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,10925,1813037183403608302,5
6,6,6,6,2,28051972,NaN,1,NaN,01102014,06,...,0,0,3426801196285240187,970579013592031102,NaN,01,01,8491,3652708417458515775,6
7,7,7,7,2,23061969,NaN,1,NaN,01102014,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,9324,2850529884753525020,7
8,8,8,8,2,25021971,NaN,1,NaN,01102014,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,10410,167823990482649395,8
9,9,9,9,1,19071972,NaN,1,NaN,01102014,04,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,8628,694421425782240772,9
10,10,10,10,1,10091963,NaN,1,NaN,01102014,04,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,11270,7159113741589673965,10
11,11,11,11,2,3061973,NaN,1,NaN,01102014,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,7153,2727216476858878079,11
12,12,12,12,1,27041977,NaN,1,NaN,01102014,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,6426,5265255753580133596,12
13,13,13,13,2,2081979,NaN,1,NaN,01102014,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,6559,3349437125772570619,13
14,14,14,14,2,20031984,NaN,1,NaN,01102014,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,4945,1180135311347997151,14
15,15,15,15,1,15111984,NaN,1,NaN,01102014,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,4703,3420812909788976964,15
16,16,16,16,2,20101966,NaN,1,NaN,01102014,06,...,0,0,3426801196285240187,970579013592031102,NaN,01,01,4279,9162660237646300115,16
17,17,17,17,1,10071981,NaN,1,NaN,01102014,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,4067,4885954375751391374,17
18,18,18,18,2,8051986,NaN,1,NaN,01102014,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,3457,4288287697472645046,18
19,19,19,19,1,10021981,NaN,1,NaN,01102014,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,3206,6570170158378405001,19
20,20,20,20,2,16091984,NaN,1,NaN,01102014,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,2496,425650408013017981,20
21,21,21,21,2,8011989,NaN,1,NaN,01102014,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,1630,3143312799405920287,21
22,22,22,22,2,3061990,NaN,1,NaN,01012015,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,1432,1469883324021351994,22
23,23,23,23,2,10081984,NaN,1,NaN,01072015,06,...,0,0,3426801196285240187,970579013592031102,NaN,01,01,1269,7837756792996550705,23
24,24,24,24,1,8021970,NaN,1,NaN,01062017,04,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,8960,2149108281688600381,24
25,25,25,25,2,16081989,NaN,1,NaN,21082017,06,...,0,0,3426801196285240187,970579013592031102,NaN,01,01,1090,8799307255273835075,25
26,26,26,26,1,28021996,NaN,1,NaN,02102017,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,364,7000840322664899104,26
27,27,27,27,2,31011994,NaN,1,NaN,01112017,06,...,0,0,3426801196285240187,970579013592031102,NaN,01,01,910,2384688779049884557,27
28,28,28,28,2,10031991,NaN,1,NaN,14122017,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,291,7870577635990534373,28
29,29,29,29,1,10021994,NaN,1,NaN,01012018,06,...,"['0', '0']","['0', '0']",3459048255974703064,3459048255974703064,NaN,01,01,287,881314362425168731,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2587,2587,2587,2587,1,1111980,NaN,1,NaN,16062015,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,1260,4834120171048102958,2587
2588,2588,2588,2588,1,24021987,NaN,1,NaN,01072016,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,905,683828758928152661,2588
2589,2589,2589,2589,1,22041988,NaN,1,NaN,01012017,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,833,7221255194562272665,2589
2590,2590,2590,2590,2,23061984,NaN,1,NaN,01072017,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,607,3698917690617163002,2590
2591,2591,2591,2591,2,9111996,NaN,1,NaN,01092017,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,544,4249409429706839134,2591
2592,2592,2592,2592,1,21101984,NaN,1,NaN,01092017,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,1183,5620218769796984271,2592
2593,2593,2593,2593,1,6091994,NaN,1,NaN,01102017,06,...,"['0', '0']","['0', '0']",3459048255974703064,3459048255974703064,NaN,01,01,574,8839660826908513977,2593
2594,2594,2594,2594,2,9061995,NaN,1,NaN,01012018,06,...,0,0,3426801196285240187,970579013592031102,NaN,01,01,371,3997822093275412105,2594
2595,2595,2595,2595,2,3121993,NaN,1,NaN,01012018,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,374,1901639391550104623,2595
2596,2596,2596,2596,2,24051995,NaN,1,NaN,01012018,06,...,0,0,3426801196285240187,970579013592031102,NaN,01,01,350,9150234965342168853,2596
2597,2597,2597,2597,2,22051995,NaN,1,NaN,21032018,06,...,0,0,3426801196285240187,970579013592031102,NaN,01,01,194,7949664969466976486,2597
2598,2598,2598,2598,1,4051983,NaN,1,NaN,01062018,06,...,0,0,3426801196285240187,970579013592031102,NaN,01,01,203,8619966990251332608,2598
2599,2599,2599,2599,2,5041996,NaN,1,NaN,01062018,06,...,0,0,3426801196285240187,970579013592031102,NaN,01,01,199,4973604679353592430,2599
2600,2600,2600,2600,2,12111992,NaN,1,NaN,18062018,06,...,0,0,3426801196285240187,970579013592031102,NaN,01,01,147,3215681245706328957,2600
2601,2601,2601,2601,2,29061997,NaN,1,NaN,06082018,06,...,0,0,3426801196285240187,970579013592031102,NaN,01,01,56,1476482701907964752,2601
2602,2602,2602,2602,1,9101999,NaN,1,NaN,03092018,06,...,0,0,3426801196285240187,970579013592031102,NaN,01,01,28,2723253731195137972,2602
2603,2603,2603,2603,1,24011995,NaN,1,NaN,01092018,06,...,0,0,3426801196285240187,970579013592031102,NaN,01,01,30,787867068654832392,2603
2604,2604,2604,2604,2,29091989,NaN,1,NaN,01092018,06,...,0,0,3426801196285240187,970579013592031102,NaN,01,01,30,975458426065869036,2604
2605,2605,2605,2605,1,23071970,NaN,1,NaN,01102014,04,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,6076,3104144261411391019,2605
2606,2606,2606,2606,2,29041964,NaN,1,NaN,01102014,06,...,0,0,3426801196285240187,970579013592031102,NaN,01,01,10080,1675624590658596295,2606
2607,2607,2607,2607,2,19101986,NaN,1,NaN,16032015,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,4029,6870212934181519876,2607
2608,2608,2608,2608,1,7041957,NaN,1,NaN,01102014,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,10104,6726960970436385335,2608
2609,2609,2609,2609,2,7061983,NaN,1,NaN,01102014,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,5334,7293694087988396906,2609
2610,2610,2610,2610,1,30051979,NaN,1,NaN,01102014,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,5479,6581531391815583762,2610
2611,2611,2611,2611,2,24071965,NaN,1,NaN,01102014,06,...,0,0,3426801196285240187,970579013592031102,NaN,01,01,9016,7899380811344089746,2611
2612,2612,2612,2612,1,24061985,NaN,1,NaN,01102014,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,4347,1979743340121760892,2612
2613,2613,2613,2613,1,20061979,NaN,1,NaN,01102014,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,4039,1767314840430178948,2613
2614,2614,2614,2614,2,17071987,NaN,1,NaN,01102014,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,3157,121345335568216352,2614
2615,2615,2615,2615,2,10091989,NaN,1,NaN,01102014,06,...,"['0', '0']","['0', '0']",3459048255974703064,8151159325541050343,NaN,01,01,2973,6330781511945007660,2615
2616,2616,2616,2616,1,28111981,NaN,1,NaN,30072018,06,...,0,0,3426801196285240187,970579013592031102,NaN,01,01,63,3549699751783595424,2616

In [224]:
tmp = []
for i in df.columns :
    if df[i].isna().count() >2615 :
        tmp.append(i)
df.drop(columns = tmp,inplace = True)

In [222]:
df["('S21.G00.31.001', 'Date de la modification')"].value_counts(dropna=False)

NaN           2616
 1092018.0       1
Name: ('S21.G00.31.001', 'Date de la modification'), dtype: int64