In [36]:
!git add ib02_jointure_De_tables.ipynb

In [37]:
!git commit -m "next"

[master 7416bbf] next
 1 file changed, 1931 insertions(+), 16 deletions(-)

In [38]:
!git push

Counting objects: 3, done.
Delta compression using up to 8 threads.
Compressing objects: 100% (3/3), done.
Writing objects: 100% (3/3), 6.60 KiB | 6.60 MiB/s, done.
Total 3 (delta 1), reused 0 (delta 0)
remote: Resolving deltas: 100% (1/1), completed with 1 local object.
To https://github.com/romainjouin/formation_python
   353cc07..7416bbf  master -> master

# Base de données accidents corporels de la circulation
https://www.data.gouv.fr/fr/datasets/base-de-donnees-accidents-corporels-de-la-circulation/

Ce jeu de données provient d'un service public certifié
 NEC MERGITUR
Pour chaque accident corporel (soit un accident survenu sur une voie ouverte à la circulation publique, impliquant au moins un véhicule et ayant fait au moins une victime ayant nécessité des soins), des saisies d’information décrivant l’accident sont effectuées par l’unité des forces de l’ordre (police, gendarmerie, etc.) qui est intervenue sur le lieu de l’accident. Ces saisies sont rassemblées dans une fiche intitulée bulletin d’analyse des accidents corporels. L’ensemble de ces fiches constitue le fichier national des accidents corporels de la circulation dit " Fichier BAAC " administré par l’Observatoire national interministériel de la sécurité routière "ONISR".

Les bases de données, extraites du fichier BAAC, répertorient l'intégralité des accidents corporels de la circulation intervenus durant une année précise en France métropolitaine ainsi que les départements d’Outre-mer (Guadeloupe, Guyane, Martinique, La Réunion et Mayotte depuis 2012) avec une description simplifiée. Cela comprend des informations de localisation de l’accident, telles que renseignées ainsi que des informations concernant les caractéristiques de l’accident et son lieu, les véhicules impliqués et leurs victimes.

Par rapport aux bases de données agrégées 2005-2010 et 2006-2011 actuellement disponibles sur le site www.data.gouv.fr, les bases de données de 2005 à 2016 sont désormais annuelles et composées de 4 fichiers (Caractéristiques – Lieux – Véhicules – Usagers ) au format csv.

Ces bases occultent néanmoins certaines données spécifiques relatives aux usagers et aux véhicules et à leur comportement dans la mesure où la divulgation de ces données porterait atteinte à la protection de la vie privée des personnes physiques aisément identifiables ou ferait apparaître le comportement de telles personnes alors que la divulgation de ce comportement pourrait leur porter préjudice (avis de la CADA – 2 janvier 2012).

# Téléchargement de la documentation
https://www.data.gouv.fr/fr/datasets/r/36496bab-a042-47bf-b08b-3c7467f2bddf

# données
https://www.data.gouv.fr/fr/datasets/r/be2191a6-a7cd-446f-a9fc-8d698688eb9e

https://www.data.gouv.fr/fr/datasets/r/e4c6f4fe-7c68-4a1d-9bb6-b0f1f5d45526

https://www.data.gouv.fr/fr/datasets/r/08b77510-39c4-4761-bf02-19457264790f

https://www.data.gouv.fr/fr/datasets/r/96aadc9f-0b55-4e9a-a70e-c627ed97e6f7

# -1) imports

In [2]:
%matplotlib inline
import seaborn as sns

In [3]:
import pandas as pd

In [4]:
import pandas as pd

# 0) Téléchargement des données : base des lieux et des véhicules

In [58]:
base_des_lieux_2016 = "https://www.data.gouv.fr/fr/datasets/r/08b77510-39c4-4761-bf02-19457264790f" 
base_des_lieux_2017 = "https://www.data.gouv.fr/fr/datasets/r/9b76a7b6-3eef-4864-b2da-1834417e305c"
path = base_des_lieux_2017
lieux = pd.read_csv(path, encoding="latin1")

/Users/romain/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [65]:
nouvelles_columns_lieux = ["Num_Acc", 
                     "categorie_route", 
                     "numero_de_route", 
                     "indice_du_numero_de_route", 
                     "indice_alpha", 
                     "regime_de_circulation", 
                     "nb_de_voies", 
                     "numero_de_la_borne_de_rattachemen",
                     "distance_a_la_borne",
                     "existence_voie_reservee", 
                     "declivite",
                     "trace_du_plan",
                     "largeur_terre_plein",
                     "largeur_chaussee", 
                     "etat_surface", 
                     "infrastructure",
                     "endroit", 
                     "a_une_ecole"]

In [66]:
lieux.columns = nouvelles_columns_lieux

In [75]:
nouvelles_columns_vehicules =  ['Num_Acc',
             'sens de circulation',
            'categorie',
            'nb occupants transport commun',
             'obsctacle fixe heurté',
             'obstacle mobile heurté',
             'point de choc init',
             'manoeuvre principale avant laccident',
             'numero véhicule']

In [76]:
path_vehicules = "https://www.data.gouv.fr/fr/datasets/r/109520e1-47ae-4294-a5b6-6d10c7bae9a6"

In [77]:
vehicules = pd.read_csv(path_vehicules, encoding="latin1")

In [78]:
vehicules.columns = nouvelles_columns_vehicules

In [79]:
vehicules.head()

,Num_Acc,sens de circulation,categorie,nb occupants transport commun,obsctacle fixe heurté,obstacle mobile heurté,point de choc init,manoeuvre principale avant laccident,numero véhicule
0,201700000001,0.0,7,0,0.0,2.0,3.0,9.0,B01
1,201700000001,0.0,10,0,0.0,2.0,3.0,13.0,A01
2,201700000002,0.0,7,0,0.0,0.0,1.0,16.0,A01
3,201700000002,0.0,1,0,0.0,0.0,7.0,1.0,B01
4,201700000003,0.0,10,0,0.0,2.0,1.0,1.0,C01

In [80]:
lieux.head()

,Num_Acc,categorie_route,numero_de_route,indice_du_numero_de_route,indice_alpha,regime_de_circulation,nb_de_voies,numero_de_la_borne_de_rattachemen,distance_a_la_borne,existence_voie_reservee,declivite,trace_du_plan,largeur_terre_plein,largeur_chaussee,etat_surface,infrastructure,endroit,a_une_ecole
0,201700000001,3,39,NaN,NaN,2.0,2.0,NaN,NaN,2.0,1.0,1.0,0.0,70.0,1.0,0.0,1.0,99.0
1,201700000002,3,39,NaN,NaN,2.0,2.0,NaN,NaN,0.0,1.0,0.0,6.0,10.0,1.0,NaN,NaN,NaN
2,201700000003,3,39,NaN,NaN,2.0,2.0,NaN,NaN,0.0,1.0,0.0,0.0,10.0,1.0,NaN,NaN,NaN
3,201700000004,3,39,NaN,D,2.0,2.0,NaN,NaN,0.0,1.0,0.0,0.0,10.0,1.0,NaN,NaN,NaN
4,201700000005,3,39,NaN,NaN,2.0,2.0,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,99.0

# Les jointures en python se font sur les index

In [70]:
jointure = vehicules.join(lieux,rsuffix="_from_vehicule")

In [71]:
jointure.shape

(103546, 27)


# il faut setter les index : 
Attention : on va perdre les colonnes de l'index par défaut

surtout si on fait inplace = True

In [81]:
v1 = vehicules.set_index("Num_Acc", inplace=False)

In [82]:
l1 = lieux.set_index("Num_Acc", inplace=False)

In [83]:
for type_jointure in ["left", "right", "inner"]:
    jointure= v1.join(l1, how=type_jointure)
    print(type_jointure, jointure.shape)

left (103546, 25)
right (103546, 25)
inner (103546, 25)

In [84]:
jointure.head().T

Num_Acc,201700000001,201700000001,201700000002,201700000002,201700000003
sens de circulation,0,0,0,0,0
categorie,7,10,7,1,10
nb occupants transport commun,0,0,0,0,0
obsctacle fixe heurté,0,0,0,0,0
obstacle mobile heurté,2,2,0,0,2
point de choc init,3,3,1,7,1
manoeuvre principale avant laccident,9,13,16,1,1
numero véhicule,B01,A01,A01,B01,C01
categorie_route,3,3,3,3,3
numero_de_route,39,39,39,39,39
indice_du_numero_de_route,NaN,NaN,NaN,NaN,NaN
indice_alpha,NaN,NaN,NaN,NaN,NaN
regime_de_circulation,2,2,2,2,2
nb_de_voies,2,2,2,2,2
numero_de_la_borne_de_rattachemen,NaN,NaN,NaN,NaN,NaN
distance_a_la_borne,NaN,NaN,NaN,NaN,NaN
existence_voie_reservee,2,2,0,0,0
declivite,1,1,1,1,1
trace_du_plan,1,1,0,0,0
largeur_terre_plein,0,0,6,6,0
largeur_chaussee,70,70,10,10,10
etat_surface,1,1,1,1,1
infrastructure,0,0,NaN,NaN,NaN
endroit,1,1,NaN,NaN,NaN
a_une_ecole,99,99,NaN,NaN,NaN

In [85]:
jointure.dtypes

sens de circulation                     float64
categorie                                 int64
nb occupants transport commun             int64
obsctacle fixe heurté                   float64
obstacle mobile heurté                  float64
point de choc init                      float64
manoeuvre principale avant laccident    float64
numero véhicule                          object
categorie_route                           int64
numero_de_route                          object
indice_du_numero_de_route               float64
indice_alpha                             object
regime_de_circulation                   float64
nb_de_voies                             float64
numero_de_la_borne_de_rattachemen       float64
distance_a_la_borne                     float64
existence_voie_reservee                 float64
declivite                               float64
trace_du_plan                           float64
largeur_terre_plein                     float64
largeur_chaussee                        float64
etat_surface                            float64
infrastructure                          float64
endroit                                 float64
a_une_ecole                             float64
dtype: object

In [91]:
nb_ligne = jointure.shape[0]

In [116]:
for col in jointure.columns:
    nb_null  = jointure[col].isnull().sum()
    pct_null = nb_null/nb_ligne
    to_print ="{nom_col:40} : {nb_null: >#09} soit {pct_null:.2f} %".format(nom_col=col,
                                                         nb_null=nb_null,
                                                         pct_null=pct_null)
    print(to_print)

sens de circulation                      :        68 soit 0.00 %
categorie                                :         0 soit 0.00 %
nb occupants transport commun            :         0 soit 0.00 %
obsctacle fixe heurté                    :        55 soit 0.00 %
obstacle mobile heurté                   :        42 soit 0.00 %
point de choc init                       :        35 soit 0.00 %
manoeuvre principale avant laccident     :        30 soit 0.00 %
numero véhicule                          :         0 soit 0.00 %
categorie_route                          :         0 soit 0.00 %
numero_de_route                          :     16089 soit 0.16 %
indice_du_numero_de_route                :    102893 soit 0.99 %
indice_alpha                             :     98835 soit 0.95 %
regime_de_circulation                    :       636 soit 0.01 %
nb_de_voies                              :       749 soit 0.01 %
numero_de_la_borne_de_rattachemen        :     56421 soit 0.54 %
distance_a_la_borne                      :     56822 soit 0.55 %
existence_voie_reservee                  :      1063 soit 0.01 %
declivite                                :       788 soit 0.01 %
trace_du_plan                            :      1471 soit 0.01 %
largeur_terre_plein                      :      3731 soit 0.04 %
largeur_chaussee                         :      3507 soit 0.03 %
etat_surface                             :       819 soit 0.01 %
infrastructure                           :      6593 soit 0.06 %
endroit                                  :      6256 soit 0.06 %
a_une_ecole                              :      6674 soit 0.06 %

In [88]:
jointure.a_une_ecole

6674