In [4]:
!pip install pandas

Requirement already satisfied: pandas in /Users/romain/anaconda3/lib/python3.6/site-packages (0.23.0)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/romain/anaconda3/lib/python3.6/site-packages (from pandas) (2.7.3)
Requirement already satisfied: pytz>=2011k in /Users/romain/anaconda3/lib/python3.6/site-packages (from pandas) (2018.4)
Requirement already satisfied: numpy>=1.9.0 in /Users/romain/anaconda3/lib/python3.6/site-packages (from pandas) (1.14.3)
Requirement already satisfied: six>=1.5 in /Users/romain/anaconda3/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)
distributed 1.21.8 requires msgpack, which is not installed.
You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [1]:
import pandas as pd
t1 = range(10)
t2 = range(5)
t1 = pd.DataFrame(list(t1))
t2 = pd.DataFrame(list(t2))
t1.columns = ["clef"]
t2.columns = ["clef"]

In [2]:
### Jointure à gauche => 10 valeurs
t1.join(t2, lsuffix="_gauche")
### Jointure à droite => 5 valeurs
t1.join(t2, lsuffix="_gauche", how="right")
### Jointure inner => 5 valeurs
t1.join(t2, lsuffix="_gauche", how="inner");

In [3]:
t1.set_index("clef", inplace=True, drop=False)

In [4]:
t3 = pd.DataFrame([0]*5)
t3.columns=["clef"]

In [5]:
t3.set_index("clef", inplace=True, drop=False)

In [6]:
t4 = t1.join(t3, lsuffix="_from_t1")
t4

      clef_from_t1  clef
clef
0                0   0.0
0                0   0.0
0                0   0.0
0                0   0.0
0                0   0.0
1                1   NaN
2                2   NaN
3                3   NaN
4                4   NaN
5                5   NaN
6                6   NaN
7                7   NaN
8                8   NaN
9                9   NaN

In [7]:
t1.set_index("clef", inplace=True, drop=False)

In [8]:
t1.index = t1.clef
t3.index = t3.clef
t1.join(t3, rsuffix="_t3")

      clef  clef_t3
clef
0        0      0.0
0        0      0.0
0        0      0.0
0        0      0.0
0        0      0.0
1        1      NaN
2        2      NaN
3        3      NaN
4        4      NaN
5        5      NaN
6        6      NaN
7        7      NaN
8        8      NaN
9        9      NaN

In [9]:
t1

      clef
clef
0        0
1        1
2        2
3        3
4        4
5        5
6        6
7        7
8        8
9        9

In [10]:
pd.__version__

'0.23.4'

In [11]:
t3.join(t1, on="clef"a
       )

SyntaxError: invalid syntax (<ipython-input-11-a7fbdd1b1d36>, line 1)

In [12]:
t3 = pd.DataFrame([0]*5)
t3.columns = ["clef"]
### Jointure à gauche => 10 valeurs
t1.join(t3, lsuffix="_gauche", on="clef")
### Jointure à droite => 5 valeurs
#t1.join(t2, lsuffix="_gauche", how="right")
### Jointure inner => 5 valeurs
#t1.join(t2, lsuffix="_gauche", how="inner");

/Applications/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:6336: FutureWarning: 'clef' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  rsuffix=rsuffix, sort=sort)

      clef_gauche  clef
clef
0               0   0.0
1               1   0.0
2               2   0.0
3               3   0.0
4               4   0.0
5               5   NaN
6               6   NaN
7               7   NaN
8               8   NaN
9               9   NaN

In [13]:
url_caracteristiques = "https://www.data.gouv.fr/fr/datasets/r/9a7d408b-dd72-4959-ae7d-c854ec505354"
url_usagers = "https://www.data.gouv.fr/fr/datasets/r/07bfe612-0ad9-48ef-92d3-f5466f8465fe"

In [14]:
caracteristiques = pd.read_csv(url_caracteristiques, encoding="latin1")
usagers = pd.read_csv(url_usagers, encoding="latin1")

In [15]:
usagers.shape

(136021, 12)

In [16]:
caracteristiques.shape

(60701, 16)

In [17]:
usagers.head()

,Num_Acc,place,catu,grav,sexe,trajet,secu,locp,actp,etatp,an_nais,num_veh
0,201700000001,1.0,1,3,1,9.0,13.0,0.0,0.0,0.0,1968.0,B01
1,201700000001,2.0,2,3,2,9.0,11.0,0.0,0.0,0.0,1973.0,B01
2,201700000001,1.0,1,3,1,1.0,13.0,0.0,0.0,0.0,1967.0,A01
3,201700000002,1.0,1,1,1,0.0,11.0,0.0,0.0,0.0,1953.0,A01
4,201700000002,1.0,1,3,1,5.0,22.0,0.0,0.0,0.0,1960.0,B01

In [18]:
# nb de valeur unique dans une colonne
usagers.Num_Acc.nunique()

60701

In [19]:
#nb de valeur unique dans une colonne
caracteristiques.Num_Acc.nunique()

60701

In [20]:
usagers.index = usagers.Num_Acc
caracteristiques.index = caracteristiques.Num_Acc

In [21]:
jointure = caracteristiques.join(usagers,lsuffix="_from_caracteristique")
jointure.shape

(136021, 28)

In [22]:
jointure.dtypes

Num_Acc_from_caracteristique      int64
an                                int64
mois                              int64
jour                              int64
hrmn                              int64
lum                               int64
agg                               int64
int                               int64
atm                             float64
col                             float64
com                               int64
adr                              object
gps                              object
lat                             float64
long                            float64
dep                               int64
Num_Acc                           int64
place                           float64
catu                              int64
grav                              int64
sexe                              int64
trajet                          float64
secu                            float64
locp                            float64
actp                            float64
etatp                           float64
an_nais                         float64
num_veh                          object
dtype: object

In [23]:
nas = jointure.isna().sum()
nuls = jointure.isnull().sum()
na_et_nuls = pd.DataFrame([nas, nuls]).T
na_et_nuls.columns = ["nb_na", "nb_nuls"]
na_et_nuls.head()

                              nb_na  nb_nuls
Num_Acc_from_caracteristique      0        0
an                                0        0
mois                              0        0
jour                              0        0
hrmn                              0        0

In [24]:
sans_nuls = jointure.dropna()
sans_nuls.shape

(105897, 28)

In [88]:
df_numerique = sans_nuls.select_dtypes(exclude=["object"])
df_numerique.shape

(105897, 25)

In [89]:
# http://scikit-learn.org
# Modélisation du sexe

In [90]:
X = df_numerique.drop("sexe", axis="columns")
Y = df_numerique["sexe"]

In [91]:
from sklearn.model_selection import train_test_split
# création d'un jeu de test et d'apprentissage
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size=0.15)
X_train.shape, X_test.shape

((90012, 24), (15885, 24))

In [92]:
# création d'un jeu de validation
X_train, X_validation, y_train, y_validation = train_test_split( X_train, y_train, test_size=0.04)
X_validation.shape, X_train.shape , X_test.shape

((3601, 24), (86411, 24), (15885, 24))

# Algo sur classes non équilibrées

In [93]:
# Choix d'un algo et d'hyperparamètres
from sklearn.ensemble import RandomForestClassifier
hyperparametres ={"n_estimators" : 20    , 
                  "bootstrap"    : False }
algo = RandomForestClassifier(**hyperparametres)

In [94]:
# Entrainement
modele = algo.fit(X_train, y_train)

In [95]:
modele.score(X_test, y_test)

0.7129367327667611

In [97]:
nb_de_ligne = df_numerique.shape[0]

In [99]:
prediction_naive = max(df_numerique.sexe.value_counts().values)/nb_de_ligne
prediction_algo = modele.score(X_test, y_test)
lift = (prediction_algo - prediction_naive) / prediction_naive 
lift

0.02772710948396698

# 2) Equilibrage des classes

In [100]:
sans_nuls.sexe.value_counts(normalize=True)

1    0.693702
2    0.306298
Name: sexe, dtype: float64

## 2.1) méthode du masque

In [101]:
mask = sans_nuls.sexe==1
sans_nuls.shape
sans_nuls[mask].shape[0] / sans_nuls.shape[0]

0.6937023711719879

In [35]:
sans_nuls.shape

(105897, 28)

In [51]:
mask=sans_nuls.sexe == 2
sans_nuls[mask]["sexe"].count()

32436

## 2.2) méthode du groupby

In [53]:
sans_nuls.groupby("sexe")["sexe"].count()

sexe
1    73461
2    32436
Name: sexe, dtype: int64

In [50]:
sans_nuls.sexe.value_counts()

1    73461
2    32436
Name: sexe, dtype: int64

## 2.3) méthode du masque bis

In [67]:
df_homme=sans_nuls[sans_nuls.sexe == 1].sample(32436)
df_femme=sans_nuls[sans_nuls.sexe == 2]

## 2.4) concaténation des dfg

In [ ]:
new_df=df_homme.append(df_femme)

In [69]:
new_df.shape

(64872, 28)

In [70]:
new_df.sexe.value_counts()

2    32436
1    32436
Name: sexe, dtype: int64

## 3) Nouvel algo

In [107]:
df_numerique = new_df.select_dtypes(exclude=["object"])

X = df_numerique.drop("sexe", axis="columns")
Y = df_numerique["sexe"]

from sklearn.model_selection import train_test_split
# création d'un jeu de test et d'apprentissage
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size=0.15)
X_train.shape, X_test.shape

# création d'un jeu de validation
X_train, X_validation, y_train, y_validation = train_test_split( X_train, y_train, test_size=0.04)
X_validation.shape, X_train.shape , X_test.shape

# Choix d'un algo et d'hyperparamètres
from sklearn.ensemble import RandomForestClassifier
hyperparametres ={"n_estimators" : 100    , 
                  "min_samples_split": 10,
                  "max_depth":5,
                  "bootstrap"    : False }
algo = RandomForestClassifier(**hyperparametres)

# Entrainement
modele = algo.fit(X_train, y_train)
modele.score(X_test, y_test)

0.6457712465317028

In [106]:
prediction_naive = 0.5
prediction_algo = modele.score(X_test, y_test)
lift = (prediction_algo - prediction_naive) / prediction_naive 
lift

0.33655328332134427

In [108]:
from sklearn.ensemble import GradientBoostingClassifier
algo2 = GradientBoostingClassifier()
modele2 = algo2.fit(X_train, y_train)
modele2.score(X_test, y_test)

0.6711540437776179

In [109]:
from xgboost import XGBClassifier

In [112]:
algo3 = XGBClassifier(n_jobs=-1, max_depth=5)
modele3 = algo3.fit(X_train, y_train)
modele3.score(X_test, y_test)

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

0.6731065666426883

In [119]:
from sklearn.model_selection import GridSearchCV, StratifiedKFold
from sklearn.metrics import make_scorer, precision_score, recall_score, accuracy_score

In [135]:
r ={}

In [ ]:
clf = RandomForestClassifier(n_jobs=-1)

param_grid = {  'min_samples_split' : [10],
                'n_estimators': [56],
                'max_depth' :range(10)[1:],
                'max_features':[10, 8,2],
              "criterion" : ["gini", "entropy"]
}

scorers = { 'precision_score': make_scorer(precision_score) ,
            'recall_score'   : make_scorer(recall_score)    ,
            'accuracy_score' : make_scorer(accuracy_score)  }

skf = StratifiedKFold(n_splits=3)

grid_search= GridSearchCV(clf,
                          param_grid,
                          scoring=scorers,
                          refit='precision_score',
                          cv=skf,
                          return_train_score=True,
                          n_jobs=11)

grid_search.fit(X_train.values,y_train.values)
y_pred = grid_search.predict(X_test.values)
print(grid_search.best_params_)
results = pd.DataFrame()
r[str(param_grid)] =  grid_search.best_score_
grid_search.best_score_

In [137]:
r[str(param_grid)] =  grid_search.best_score_

In [138]:
r

{"{'min_samples_split': [10], 'n_estimators': [56], 'max_depth': [12, 1], 'max_features': [10, 8, 2], 'criterion': ['gini', 'entropy']}": 0.6881545580726854}