In [4]:
!pip install pandas

Requirement already satisfied: pandas in /Users/romain/anaconda3/lib/python3.6/site-packages (0.23.0)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/romain/anaconda3/lib/python3.6/site-packages (from pandas) (2.7.3)
Requirement already satisfied: pytz>=2011k in /Users/romain/anaconda3/lib/python3.6/site-packages (from pandas) (2018.4)
Requirement already satisfied: numpy>=1.9.0 in /Users/romain/anaconda3/lib/python3.6/site-packages (from pandas) (1.14.3)
Requirement already satisfied: six>=1.5 in /Users/romain/anaconda3/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)
distributed 1.21.8 requires msgpack, which is not installed.
You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [80]:
import pandas as pd
t1 = range(10)
t2 = range(5)
t1 = pd.DataFrame(list(t1))
t2 = pd.DataFrame(list(t2))
t1.columns = ["clef"]
t2.columns = ["clef"]

In [59]:
### Jointure à gauche => 10 valeurs
t1.join(t2, lsuffix="_gauche")
### Jointure à droite => 5 valeurs
t1.join(t2, lsuffix="_gauche", how="right")
### Jointure inner => 5 valeurs
t1.join(t2, lsuffix="_gauche", how="inner");

In [81]:
t1.set_index("clef", inplace=True, drop=False)

In [85]:
t3 = pd.DataFrame([0]*5)
t3.columns=["clef"]

In [86]:
t3.set_index("clef", inplace=True, drop=False)

In [88]:
t4 = t1.join(t3, lsuffix="_from_t1")
t4

      clef_from_t1  clef
clef
0                0   0.0
0                0   0.0
0                0   0.0
0                0   0.0
0                0   0.0
1                1   NaN
2                2   NaN
3                3   NaN
4                4   NaN
5                5   NaN
6                6   NaN
7                7   NaN
8                8   NaN
9                9   NaN

In [57]:
t1.set_index("clef", inplace=True, drop=False)

KeyError: 'clef'

In [41]:
t1.index = t1.clef
t3.index = t3.clef
t1.join(t3, rsuffix="_t3")

      clef  clef_t3
clef
0        0      0.0
0        0      0.0
0        0      0.0
0        0      0.0
0        0      0.0
1        1      NaN
2        2      NaN
3        3      NaN
4        4      NaN
5        5      NaN
6        6      NaN
7        7      NaN
8        8      NaN
9        9      NaN

In [55]:
t1

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
pd.__version__

'0.23.0'

In [52]:
t3.join(t1, on="clef"a
       )

   clef
0     0
1     0
2     0
3     0
4     0

In [46]:
t3 = pd.DataFrame([0]*5)
t3.columns = ["clef"]
### Jointure à gauche => 10 valeurs
t1.join(t3, lsuffix="_gauche", on="clef")
### Jointure à droite => 5 valeurs
#t1.join(t2, lsuffix="_gauche", how="right")
### Jointure inner => 5 valeurs
#t1.join(t2, lsuffix="_gauche", how="inner");

/Users/romain/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:6326: FutureWarning: 'clef' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  rsuffix=rsuffix, sort=sort)

      clef_gauche  clef
clef
0               0   0.0
1               1   0.0
2               2   0.0
3               3   0.0
4               4   0.0
5               5   NaN
6               6   NaN
7               7   NaN
8               8   NaN
9               9   NaN

In [99]:
url_caracteristiques = "https://www.data.gouv.fr/fr/datasets/r/9a7d408b-dd72-4959-ae7d-c854ec505354"
url_usagers = "https://www.data.gouv.fr/fr/datasets/r/07bfe612-0ad9-48ef-92d3-f5466f8465fe"

In [100]:
caracteristiques = pd.read_csv(url_caracteristiques, encoding="latin1")
usagers = pd.read_csv(url_usagers, encoding="latin1")

In [109]:
usagers.shape

(136021, 12)

In [110]:
caracteristiques.shape

(60701, 16)

In [101]:
usagers.head()

,Num_Acc,place,catu,grav,sexe,trajet,secu,locp,actp,etatp,an_nais,num_veh
0,201700000001,1.0,1,3,1,9.0,13.0,0.0,0.0,0.0,1968.0,B01
1,201700000001,2.0,2,3,2,9.0,11.0,0.0,0.0,0.0,1973.0,B01
2,201700000001,1.0,1,3,1,1.0,13.0,0.0,0.0,0.0,1967.0,A01
3,201700000002,1.0,1,1,1,0.0,11.0,0.0,0.0,0.0,1953.0,A01
4,201700000002,1.0,1,3,1,5.0,22.0,0.0,0.0,0.0,1960.0,B01

In [106]:
# nb de valeur unique dans une colonne
usagers.Num_Acc.nunique()

60701

In [108]:
#nb de valeur unique dans une colonne
caracteristiques.Num_Acc.nunique()

60701

In [112]:
usagers.index = usagers.Num_Acc
caracteristiques.index = caracteristiques.Num_Acc

In [114]:
jointure = caracteristiques.join(usagers,lsuffix="_from_caracteristique")
jointure.shape

(136021, 28)

In [116]:
jointure.dtypes

Num_Acc_from_caracteristique      int64
an                                int64
mois                              int64
jour                              int64
hrmn                              int64
lum                               int64
agg                               int64
int                               int64
atm                             float64
col                             float64
com                               int64
adr                              object
gps                              object
lat                             float64
long                            float64
dep                               int64
Num_Acc                           int64
place                           float64
catu                              int64
grav                              int64
sexe                              int64
trajet                          float64
secu                            float64
locp                            float64
actp                            float64
etatp                           float64
an_nais                         float64
num_veh                          object
dtype: object

In [126]:
nas = jointure.isna().sum()
nuls = jointure.isnull().sum()
na_et_nuls = pd.DataFrame([nas, nuls]).T
na_et_nuls.columns = ["nb_na", "nb_nuls"]
na_et_nuls.head()

                              nb_na  nb_nuls
Num_Acc_from_caracteristique      0        0
an                                0        0
mois                              0        0
jour                              0        0
hrmn                              0        0

In [127]:
sans_nuls = jointure.dropna()
sans_nuls.shape

(105897, 28)

In [135]:
df_numerique = sans_nuls.select_dtypes(exclude=["object"])
df_numerique.shape

(105897, 25)

In [147]:
# http://scikit-learn.org
# Modélisation du sexe

In [145]:
X = df_numerique.drop("sexe", axis="columns")
Y = df_numerique["sexe"]

In [194]:
from sklearn.model_selection import train_test_split
# création d'un jeu de test et d'apprentissage
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size=0.15)
X_train.shape, X_test.shape

((90012, 24), (15885, 24))

In [195]:
# création d'un jeu de validation
X_train, X_validation, y_train, y_validation = train_test_split( X_train, y_train, test_size=0.04)
X_validation.shape, X_train.shape , X_test.shape

((3601, 24), (86411, 24), (15885, 24))

In [196]:
# Choix d'un algo et d'hyperparamètres
from sklearn.ensemble import RandomForestClassifier
hyperparametres ={"n_estimators" : 20    , 
                  "bootstrap"    : False }
algo = RandomForestClassifier(**hyperparametres)

In [197]:
# Entrainement
modele = algo.fit(X_train, y_train)

In [198]:
modele.score(X_test, y_test)

0.709537299338999

In [213]:
sans_nuls.sexe.value_counts(normalize=True)

1    0.693702
2    0.306298
Name: sexe, dtype: float64

In [ ]:
mask = sans_nuls.sexe==1
sans_nuls.shape
sans_nuls[mask].shape[0] / sans_nuls.shape[0]